.board-item
    height: 80px
    width: 170px
    padding-left: 10px
    padding-top: 7px
    border-radius: 4px
    color: white
    font-weight: bold
    background-color: rgba(0, 0, 0, 0.2)
    margin: 0 10px
    margin-top: 10px
    &:hover
        cursor: pointer
