.board-item
    height: 80px
    width: 170px
    padding-left: 10px
    padding-top: 7px
    border-radius: 4px
    margin: 0 10px
    margin-top: 10px
    transition: 0.2s
    position: relative
    &:hover
        cursor: pointer
        opacity: 0.7
        .board-item__save
            display: block
    &__title
        width: 130px
        word-break: break-all
        color: white
        font-weight: bold
    &__delete
        position: absolute
        right: 12px
        top: 5px
        width: 20px
        height: 20px
        &:hover
            opacity: 0.5
        &:before, &:after
            position: absolute
            left: 15px
            content: ' '
            height: 17px
            width: 2px
            background-color: white
        &:before
            transform: rotate(45deg)
        &:after
            transform: rotate(-45deg)
    &__save
        display: none
        position: absolute
        bottom: 4px
        right: 4px
        transition: 0.2s all
        &:hover
            opacity: 0.7
    &__saved
        display: block
    &__change
        width: 10px
        height: 10px
        padding: 4px
        margin-left: 4px

        &:hover
            background: white
            border-radius: 4px
